body {
    margin: 0;
    padding: 0;
    background-color:white;
    font-family:Arial, sans-serif;
}
#main-head{
    display: flex;
    height: 60px;
    background-color: #3b5998;
}
#main-head img{
    margin-left:80px;
    width:55px;
    height:55px;
    margin-bottom: 5px;
}
#container{
    display:flex;
}

/*TEACHERS*/
.mainbody-teachers{
    margin-left:15px;
    margin-top:10px;
}
.mainbody-teachers h1{
    font-size:25px;
    color:#3d5998;
}

.info-heading{
    display:flex;
    align-items:center;
    margin-left:15px;
}
.sub-info h1{
    font-size: 12px;
    color:black;
}
.triangle{
    width:0;
    height:0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 6px solid black;
    display: inline-block;
    margin-right: 4px;
}
.info-table td{

}
/*-----------------------*/
.student-profile p{
    color:#3d5998;
    cursor:pointer;
}

.head-sis p{
    font-size:20px;
    color:white;
    margin-left:20px;
    margin-bottom: -7px;
    margin-top:10px;

}
.head-sis p.subhead{
    font-size:10px;
    color:#aeb4c3;
    margin-left:27px;
}

.left-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 220px;
    margin-top: 30px;
    border-right: dotted;
    border-color: gray;
}

.student-profile{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 12px;
}

.student-profile img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}


.left-menu li{
    margin-left: -20px;
    list-style-type: none;
    width: 200px;
    height: 20px;
    float: left;
    text-decoration: none;
    font-size: 12px;
}

.left-menu a{
    text-decoration: none;
    color: black;
}

.title-menu{
    color: gray;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}

.active-page{
    font-weight: bold;
}

/*COURSE LIST*/
.mainbody-student{
    margin-left:15px;
    margin-top:10px;
}

.courses-info{
    width:1190px;
    position: relative;
    padding: 10px;
    border: 1px solid #959595;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.mainbody-student h3{
    color:#3d5998;
}

.mainbody-student th{
    padding: 5px;
    text-align: left;
    color: #fffff9;
    font-size: 12px;
    background-color: #757575;
}

.mainbody-student td{
    font-size: 12px;
    padding: 5px;
}

.dark-gray{
    background-color: #e4e4e4;
    height: 30px;
}

.light-gray{
    background-color: #efefef;
    height: 30px;
}

.num-center{
    text-align: center;
}