body {
    margin: 0;
    padding: 0;
    background-color:white;
    font-family:Arial, sans-serif;
}
#main-head{
    display: flex;
    height: 60px;
    background-color: #3b5998;
}
#main-head img{
    margin-left:80px;
    width:55px;
    height:55px;
    margin-bottom: 5px;
}
#container{
    display:flex;
}

/*TEACHERS*/
.mainbody-teachers{
    margin-left:15px;
    margin-top:10px;
}
.teachers-container {
    width:1190px;
    position: relative;
    padding: 10px;
    border: 1px solid #959595;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
.teachers-container::before {
    content: "▼ Class List"; /* Add the desired text */
    position: absolute;
    top: -8px; /* Adjust this value as needed */
    left: 16px;
    background-color: #ffffff; /* Match the background color of the container */
    padding: 0 3px; /* Adjust padding as needed */
    font-size: 12px;
    color: #000000; /* Match the color of the h1 in .mainbody-teachers */
}
.mainbody-teachers h3{
    color:#3d5998;
}
.mainbody-teachers hr{
    height: 1px;
    background-color: transparent; 
    border: 1px solid #959595;
}
.info-table td, th{
    background-color: #efefef;
    text-align: left;
    padding: 5px;
}
.info-table th{
    font-size:10px;
    width:200px;
}
.info-table td{
    font-size:10px;
    width:950px;
}

.guidelines h1{
    font-size:20px;
    color:#000000;
}
.guidelines ol, li{
    font-size:12px;
}
.submission-table td, th{
    text-align: left;
    padding: 8px;
}
.submission-table th{
    font-size: 10px;
    color:#ffffff;
    background-color: #757575;
}
.submission-table td{
    font-size: 12px;
    color:#000000;
}
.teacher-table-row1{
    background-color:#e4e4e4;
}
.teacher-table-row2{
    background-color:#efefef;
}
.code{
    width:90px;
}
.sname{
    width:250px;
}
.final{
    width:134px;
}
.final select{
    width:150px;
}
.grd-type{
    width:100px;
}
.yrlvl{
    width:100px;
}
.acad-status{
    width:120px;
}
.entry{
    width:120px;
}
.entry-yrlvl{
    width:120px
}
/*-----------------------*/

.student-profile p{
    color:#3d5998;
    cursor:pointer;
}

.head-sis p{
    font-size:20px;
    color:white;
    margin-left:20px;
    margin-bottom: -7px;
    margin-top:10px;

}
.head-sis p.subhead{
    font-size:10px;
    color:#aeb4c3;
    margin-left:27px;
}

.left-menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 220px;
    margin-top: 30px;
    border-right: dotted;
    border-color: gray;
}

.student-profile{
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 12px;
}

.student-profile img{
    width: 50px;
    height: 50px;
    padding-right: 10px;
}


.left-menu li{
    margin-left: -20px;
    list-style-type: none;
    width: 200px;
    height: 20px;
    float: left;
    text-decoration: none;
    font-size: 12px;
}

.left-menu a{
    text-decoration: none;
    color: black;
}

.title-menu{
    color: gray;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
}

.active-page{
    font-weight: bold;
}

/*COURSE LIST*/
.mainbody-student{
    margin-left:15px;
    margin-top:10px;
}

.courses-info{
    width:1190px;
    position: relative;
    padding: 10px;
    border: 1px solid #959595;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.mainbody-student h3{
    color:#3d5998;
}

.mainbody-student th{
    padding: 5px;
    text-align: left;
    color: #fffff9;
    font-size: 12px;
    background-color: #757575;
}

.mainbody-student td{
    font-size: 12px;
    padding: 5px;
}

.dark-gray{
    background-color: #e4e4e4;
    height: 30px;
}

.light-gray{
    background-color: #efefef;
    height: 30px;
}

.num-center{
    text-align: center;
}